<!DOCTYPE html>
<html></html>
<head>
    <meta charset="utf-8">
    <title>Обслуживание</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/header}"></div>
<div class="container">
    <h2>Личный кабинет ученого</h2>
    <p th:class="${isActive ? 'badge badge-success' : 'badge badge-danger'}"
       th:text="${isActive ? 'Голосование проводится по расписанию' : 'Голосование остановлено'}"></p>
    <p th:text="${isActive ? 'В настоящий момент система голосования работает в обычном режиме.' :
        'В настоящий момент система голосования по выбору блюд заблокирована, т.к. требуется обслуживание ФулдисМдреда'}"></p>
    <p th:text="${isActive ? 'При необходимости произвести обслуживание вам придет уведомление в телеграм' :
        'После обслуживания устройства нажмите большую синюю кнопку под этим уведомлением'}"></p>
    <form action="/maintain" method="post">
        <button th:class="${!isActive ? 'btn btn-primary' : 'btn btn-primary disabled'}"
                th:disabled="${isActive}"
                th:text="${!isActive ? 'Обслуживание не требуется' : 'Обслуживание проведено'}"
        ></button>
    </form>
</div>
</body>