<!DOCTYPE html>
<html></html>
<head>
    <meta charset="utf-8">
    <title>Голосование</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="col-6 mx-auto">
    <h3 class="text-center">Голосование</h3>
    <p class="text-center">14 июня</p>
    <p class="badge badge-danger text-center">Голосование приостановлено</p>
    <form method="POST" action="/vote">
        <table class="table">
            <thead>
            <th>
                Прием пищи
            </th>
            <th>
                Блюдо
            </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="breakfast">Завтрак</label>
                </td>
                <td>
                    <select id="breakfast" name="breakfast" class="btn btn-primary">
                    <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lunch">Обед</label>
                </td>
                <td>
                    <select id="lunch" name="lunch" class="btn btn-primary">
                        <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="dinner">Ужин</label>
                </td>
                <td>
                    <select id="dinner" name="dinner" class="btn btn-primary">
                        <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-primary">Проголосовать</button>
        </div>
    </form>
</div>
</body>