<!DOCTYPE html>
<html></html>
<head>
    <meta charset="utf-8">
    <title>Голосование</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="d-flex" th:insert="~{fragments/header}"></div>
<div class="col-6 mx-auto">
    <h3 class="text-center">Голосование за блюда</h3>
    <p class="text-center" th:text="${#dates.format(#dates.createNow(), 'dd MMMM')}"></p>
    <p class="badge badge-danger text-center" th:if="${!voteActive}">Голосование приостановлено из-за неполадок</p>
    <p class="badge badge-info text-center" th:if="${userVoted}">Вы уже голосовали сегодня</p>
    <p class="badge badge-info text-center" th:if="${!voteInProgress}">Период для голосования истек</p>
    <form method="POST" action="/vote">
        <table class="table">
            <thead>
            <th>
                Прием пищи
            </th>
            <th>
                Блюдо
            </th>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="breakfast">Завтрак</label>
                </td>
                <td>
                    <select id="breakfast" name="breakfast" class="btn btn-primary">
                    <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lunch">Обед</label>
                </td>
                <td>
                    <select id="lunch" name="lunch" class="btn btn-primary">
                        <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="dinner">Ужин</label>
                </td>
                <td>
                    <select id="dinner" name="dinner" class="btn btn-primary">
                        <option th:each="dish: ${dishes}" th:value="${dish.id}" th:text="${dish.name}"></option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row justify-content-center">
            <button th:disabled="${!voteActive || userVoted || !voteInProgress ? 'true' : 'false'}"
            th:class="${voteInProgress && voteActive && !userVoted ? 'btn btn-primary' : 'btn btn-primary disabled'}">Проголосовать</button>
        </div>
    </form>
</div>
</body>